@import "../themes.scss";

.AttendanceContainer {
  width: 100%;
  height: 100%;
  background-color: white;
  align-items: center;
  border-color: $color-medium-blue;
}

.AttendanceBackButtonContainer {
  width: 100%;
}

.AttendanceBackButton {
  width: 50%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.AttendanceBackButtonTitle {
  text-transform: uppercase;
  font-family: $century-bold;
  color: $color-dark-blue;
}

.AttendanceTitlesContainer {
  width: 95%;
  flex-direction: row;
  align-items: center;
  background-color: $color-light-blue;
}

.AttendanceTitleContainer {
  width: 35%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.AttendanceFineTitleContainer {
  width: 10%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.AttendanceDateTitleContainer {
  width: 20%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.AttendanceTitleText {
  font-family: $century-bold;
  color: $color-dark-blue;
}

.AttendanceBodyContainer {
  width: 95%;
  flex-direction: row;
  align-items: center;
  border-bottom-color: $color-gray;
}

.AttendanceBodyText {
  font-family: $century-regular;
}

.AttendanceBodyNoFineText {
  font-family: $century-bold;
  color: $color-dark-blue;
}

.AttendanceBodyFineText {
  font-family: $century-bold;
  color: $color-red;
}
