@import "../themes.scss";

.DailyAttContainer {
  width: 100%;
  height: 100%;
  background-color: white;
  align-items: center;
  border-color: $color-medium-blue;
}

.DailyAttBackButtonContainer {
  width: 100%;
}

.DailyAttTitleSM {
  font-size: 10px;
  font-family: $kantumruy-bold;
}
.DailyAttTitle {
  font-family: $kantumruy-bold;
}

.DailyAttBackButton {
  width: 50%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.DailyAttBackButtonIconSM {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.DailyAttBackButtonIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.DailyAttBackButtonTitle {
  font-family: $kantumruy-bold;
  color: $color-dark-blue;
}

.DailyAttBodyContainer {
  flex: 1;
  width: 93%;
  background-color: #f8f8f8;
  flex-direction: column;
}

.DailyAttBodyMiniContainer {
  flex: 1;
  width: 95%;
  border-color: $color-gray;
}

.CheckMainSelectDateSection {
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.CheckMainSelectDateButton {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.DailyAttMainSelectIconSM {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.DailyAttMainSelectIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.DailyAttMainSelectDateButtonPlaceholder {
  font-family: $century-regular;
  color: $color-dark-blue;
}

.DailyAttMainSelectDateButtonSM {
  width: 30%;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.DailyAttMainSelectIconSM {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.DailyAttMainSelectIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.DailyAttMainSelectDateButton {
  width: 30%;
  height: 40px;
  border-radius: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.DailyAttMainSelectDateSectionSM {
  flex-direction: column;
  align-items: center;
}

.DailyAttMainSelectDateSection {
  flex-direction: row;
  align-items: center;
}

.DailyAttMainSelectDateButtonPlaceholderSM {
  font-size: 11px;
  font-family: $century-bold;
  color: $color-dark-blue;
}

.DailyAttMainSelectDateButtonPlaceholder {
  font-family: $century-bold;
  color: $color-dark-blue;
  font-size: 13px;
}

.DailyAttCardContainer {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.DailyAttCardLeft {
  flex: 1;
  flex-direction: row;
}

.DailyAttCardImg {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  border-width: 1px;
  border-color: $color-medium-blue;
}

.DailyAttCardRight {
  width: 30%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.DailyAttCardTitleCon {
  justify-content: center;
  height: 100%;
}

.DailyAttCardTitle1 {
  font-family: $century-bold;
  color: $color-dark-blue;
}

.DailyAttCardTitle2SM {
  font-family: $century-regular;
  color: $color-dark-blue;
}

.DailyAttCardTitle2 {
  font-size: 12px;
  font-family: $century-regular;
  color: $color-dark-blue;
}

.DailyAttCardTitle3 {
  font-family: $century-bold;
  color: $color-pink;
}
