@import "../themes.scss";

.HomeContainer {
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}

.HomeBoxContainer {
  width: 25%;
  justify-content: space-evenly;
  align-items: center;
}

.HomeBoxCircle {
  border-radius: 100px;
  border-color: $color-white;
  justify-content: center;
  align-items: center;
}

.HomeSelectDateContainer {
  width: 90%;
  justify-content: flex-start;
}

.HomeSelectDateText {
  color: $color-white;
  font-family: $century-bold;
}

.HomeBoxInSideCircleText {
  color: $color-white;
  font-family: $century-bold;
}

.HomeBoxCircleText {
  text-transform: uppercase;
  color: $color-white;
  font-family: $century-bold;
}

.HomeBoxesContainer {
  flex-direction: row;
}

.HomeContentContainer {
  flex: 1;
  width: 100%;
  background-color: $color-white;
  align-items: center;
  justify-content: center;
}

.HomeMainContentContainer {
  flex: 1;
  width: 100%;
  background-color: $color-white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15;
  align-items: center;
  border-top-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-color: $color-medium-blue;
}

.HomeFeaturesTitle {
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
}

.HomeFeaturesTitleButton {
  width: 50%;
  flex-direction: row;
  align-items: center;
}

.HomeFeaturesBoxesContaienr {
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.HomeFeaturesBoxContaienr {
  width: 24%;
  justify-content: flex-start;
  align-items: center;
}

.HomeBoxStyle {
  width: 92%;
  border-color: $color-dark-blue;
  justify-content: space-evenly;
  align-items: center;
}

.HomeFeaturesBoxTitle {
  text-transform: uppercase;
  font-family: $century-bold;
  color: $color-dark-blue;
  text-align: center;
}

.HomeFeaturesTitleText {
  font-family: $century-bold;
  color: $color-dark-blue;
}

.HomeHolidayTopContainer {
  width: 100%;
}

.HomeHolidayCardContainer {
  width: 100%;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.HomeHolidayProfileImage {
  border-radius: 100px;
  border-color: $color-medium-blue;
}

.HomeHolidayTitleContainer {
  flex: 1;
}

.HomeHolidayTitle1 {
  font-family: $century-bold;
  color: $color-dark-blue;
}

.HomeHolidayTitle2 {
  font-family: $century-bold-italic;
  color: $color-dark-blue;
}

.HomeHolidayTitle3 {
  font-family: $century-regular;
  color: $color-dark-blue;
}

.HomeLeaveRequestContainer {
  width: 94%;
  background-color: $color-dark-blue;
  justify-content: center;
  align-items: center;
}

.HomeLeaveRequestText {
  color: $color-white;
  font-family: $century-bold;
}

.HomeMainSelectTimeContainer {
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.HomeMainSelectTimeHalfContainer {
  flex-direction: row;
  align-items: center;
}

.HomeMainScrollviewStyle {
  width: 100%;
  height: 100%;
}

.HomeMainSelectDateButton {
  flex-direction: row;
  align-items: center;
  background-color: $color-light-blue;
}

.HomeMainSelectDateContainer {
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
}

.HomeMainSelectDateButtonLabel {
  font-family: $century-bold;
}

.HomeMainSelectTitle {
  font-family: $century-bold;
  color: $color-dark-blue;
}

.HomeMainSelectDateButtonPlaceholder {
  font-family: $century-regular;
  color: $color-dark-blue;
}

.HomeMainSelectDateMiniContainer {
  justify-content: flex-start;
}

.HomeLeaveReasonContainer {
  width: 100%;
  border-color: $color-dark-blue;
  justify-content: center;
}

.HomeLeaveReasonStyle {
  width: 100%;
  font-family: $kantumruy-regular;
}

.HomeMainSelectDateSectionSM {
  flex-direction: column;
  align-items: center;
}

.HomeMainSelectDateSection {
  flex-direction: row;
  align-items: center;
}

.HomeMainSelectDateButtonLabelContainer {
  width: 100%;
  align-items: flex-start;
  justify-content: center;
}

.HomeLeaveRequestButton {
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: $color-dark-blue;
}

.HomeLeaveRequestButtonText {
  text-transform: uppercase;
  font-family: $century-bold;
  color: $color-white;
}

.HomeHolidayTitleLeftContainer {
  width: 25%;
  justify-content: center;
  align-items: flex-end;
}

.HomeBoxShift {
  background-color: #4bbb17cc;
  justify-content: center;
}

.HomeBoxText {
  text-transform: uppercase;
  font-family: $century-regular;
  color: #fff;
}
