@import "../themes.scss";

.NotificationActionContainer {
  width: 100%;
  height: 100%;
}

.ActionCardContainer {
  width: 90%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-bottom-color: $color-gray;
}

.ActionCardBodyLeft {
  width: 15%;
}

.ActionCardIcon {
  background-color: #2058e8;
  border-radius: 100px;
  align-items: center;
  justify-content: center;
}
.ActionCardIconSM {
  height: 35px;
  width: 35px;
  background-color: #2058e8;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
}

.ActionCardIconRed {
  background-color: $color-red;
  border-radius: 100px;
  align-items: center;
  justify-content: center;
}

.ActionCardBodyRight {
  width: 85%;
}
.ActionLeaveTitle {
  font-family: $century-bold;
  color: $color-dark-blue;
}

.ActionLeaveTitleRed {
  font-family: $century-bold;
  color: $color-red;
}

.ActionDatTime {
  font-family: $century-bold-italic;
  color: $color-dark-blue;
}

.ActionDatTimeRed {
  font-family: $century-bold;
  color: $color-red;
}

.ActionComment {
  font-family: $century-regular;
  color: $color-dark-grey;
}

.ActionCommentRed {
  font-family: $century-regular;
  color: $color-red;
}
