@import "../themes.scss";

.TabViewContainer {
  width: 100%;
  height: 6%;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.TabViewContainerFlexAnimation {
  width: 50%;
  height: 100%;
  position: absolute;
  border-bottom-color: $color-main;
  background-color: $color-light-blue;
}

.TabViewContainerFlex {
  width: 95%;
  height: 100%;
  flex-direction: row;
  align-items: center;
}

.TabViewButton {
  width: 50%;
  height: 100%;
  justify-content: center;
  border-color: $color-gray;
}

.TabViewButtonActive {
  width: 50%;
  height: 100%;
  justify-content: center;
  border-color: $color-gray;
}

.TabViewButtonText {
  font-family: $century-bold;
  text-align: center;
  color: $color-dark-grey;
}

.TabViewButtonTextActive {
  font-family: $century-bold;
  text-align: center;
  color: $color-main;
}
